{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AZURE_QUEUE_NAME": "tasksqueue",
    "AZURE_BLOB_CONTAINER": "uploads",
    "DATABASE_URL": "",
    "GEMINI_API_KEY": "",
    "GEMINI_MODEL": "gemini-1.5-flash"
  }
}
