openapi: 3.0.0
info:
  title: StreamSync AI API
  version: 1.0.0
servers:
  - url: https://api.streamsync-ai.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
paths:
  /auth/login:
    post:
      summary: Authenticates a user and returns a JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        "401":
          description: Unauthorized
  /jobs:
    get:
      summary: Retrieves a list of past video processing jobs for the authenticated user
      responses:
        "200":
          description: A list of jobs
  /jobs/create:
    post:
      summary: Creates a new asynchronous video processing job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_url, target_language]
              properties:
                source_url:
                  type: string
                  format: uri
                target_language:
                  type: string
                  maxLength: 8
      responses:
        "202":
          description: Job successfully accepted and added to the processing queue
  /jobs/{job_id}/status:
    get:
      summary: Retrieves the current status of a processing job
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Current job status returned
  /jobs/{job_id}/subtitles:
    get:
      summary: Downloads the generated subtitle file
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Subtitle file returned
          content:
            text/plain:
              schema:
                type: string
  /jobs/{job_id}:
    delete:
      summary: Deletes a processing job and subtitle resources
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Job successfully deleted
        "404":
          description: Job not found
