# Homework 1 API (custom DB REST API)
HOMEWORK_DB_BASE_URL=http://localhost:3000

# Email validation API (example: Abstract API)
EMAIL_VALIDATION_API_URL=https://emailreputation.abstractapi.com/v1
EMAIL_VALIDATION_API_KEY=replace_with_real_key

# Exchange rate API
EXCHANGE_RATE_API_URL=https://v6.exchangerate-api.com/v6
EXCHANGE_RATE_API_KEY=replace_with_real_key

# NestJS app config
PORT=4000
